name: Generate SBOM on release

on:
  release:
    types: [published]

jobs:
  generate-src-sbom:
    env:
      SBOM_FILE_NAME: "${{ github.event.repository.name }}-sbom.spdx.json"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Parse release tag
        run: echo RELEASE_TAG=$(echo $GITHUB_REF | cut -d '/' -f 3) | tee -a $GITHUB_ENV
      - name: Generate SBOM
        uses: anchore/sbom-action@v0
        with:
          # Setting path to null works around this bug:
          # https://github.com/anchore/sbom-action/issues/389
          path: null
          file: go.mod
          format: spdx-json
          output-file: ${{ env.SBOM_FILE_NAME }}
