name: Renovate

on:
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
    # - name: Checkout
    #   uses: actions/checkout@v4
    - name: Run Renovate
      env:
          LOG_LEVEL: debug
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_PLATFORM: github
      uses: renovatebot/github-action@v40.1.12
      with:
        token: ${{ github.token }}
        # configurationFile: renovate.json5
